.nav {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.2rem;
}

.link {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  @media only screen and (max-width: 600px) {
    font-size: 1rem;
  }
}

.active_link {
  background-image: url("/assets/active_link.png");
  background-repeat: no-repeat;
  background-size: cover;
}
